<style>
    * {
        box-sizing: border-box
    }

    /* Full-width input fields */
    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

    input[type=text]:focus,
    input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

    /* Set a style for all buttons */
    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    button:hover {
        opacity: 1;
    }

    /* Extra styles for the cancel button */
    .cancelbtn {
        padding: 14px 20px;
        background-color: #f44336;
        border-right: solid 2px white;
    }

    /* Float cancel and signup buttons and add an equal width */
    .cancelbtn,
    .signupbtn {
        float: left;
        width: 50%;
    }

    /* Add padding to container elements */
    .container {
        padding: 16px;
    }

    /* Clear floats */
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    /* Change styles for cancel button and signup button on extra small screens */
    @media screen and (max-width: 300px) {

        .cancelbtn,
        .signupbtn {
            width: 100%;
        }
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-lg-10 mx-auto">

            <form action="action_page.php" style="border:1px solid #ccc">
                <div class="container">
                    <h2>Your fkn account sign-up</h2>
                    <hr>

                    <label for="fullName"><b>Full Name</b></label>
                    <input type="text" placeholder="Enter your full fkn name" name="fullName" required>

                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter your fkn email" name="email" required>

                    <label for="username"><b>Username</b></label>
                    <input type="text" placeholder="Enter your fkn username" name="username" required>

                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter your fkn password" name="psw" required>

                    <label for="psw-repeat"><b>Repeat Password</b></label>
                    <input type="password" placeholder="Repeat your fkn password" name="psw-repeat" required>

                    <div class="clearfix">
                        <button type="button" class="cancelbtn">Cancel</button>
                        <button type="submit" class="signupbtn">Sign Up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



{{!-- <div class="container">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <form class="clearfix mb-4" action="POST">
                <div class="form-group">
                    <label for="user-full-name">Full Name</label>
                    <input type="text" id="user-full-name" class="form-control" aria-describedby="user-full-name"
                        placeholder="Enter your full fkn name">
                </div>
                <div class="form-group">
                    <label for="user-email">Email</label>
                    <input type="text" id="user-email" class="form-control" aria-describedby="user-email"
                        placeholder="Enter your fkn email address">
                </div>
                <div class="form-group">
                    <label for="user-name">Username</label>
                    <input type="text" id="user-name" class="form-control" aria-describedby="user-name"
                        placeholder="Enter your fkn username">
                </div>
                <div class="form-group">
                    <label for="user-password">Password</label>
                    <input type="text" id="user-password" class="form-control" aria-describedby="user-password"
                        placeholder="Enter your fkn password (be secure!)">
                </div>
                <button id="submit" class="btn btn-primary float-right">Submit</button>
            </form>
            <h3>Examples:</h3>
            <ul id="example-list" class="list-group">
                {{#each examples}}
                <li data-id="{{this.id}}" class="list-group-item">
                    <a href="example/{{this.id}}">{{this.text}}</a>
                    <button class="btn btn-danger float-right delete">ｘ</button>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div> --}}

{{!-- =================================== --}}
{{!-- =================================== --}}

{{!-- this was the original examples code  --}}
{{!-- <form class="clearfix mb-4" action="POST">
    <div class="form-group">
        <label for="example-text">Example Text</label>
        <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
            placeholder="Enter Example Text">
    </div>
    <div class="form-group">
        <label for="example-description">Example Description</label>
        <textarea class="form-control" id="example-description" aria-describedby="example-description"
            placeholder="Enter Example Description"></textarea>
    </div>
    <button id="submit" class="btn btn-primary float-right">Submit</button>
</form> 
<h3>Examples:</h3>
<ul id="example-list" class="list-group">
    {{#each examples}}
    <li data-id="{{this.id}}" class="list-group-item">
        <a href="example/{{this.id}}">{{this.text}}</a>
        <button class="btn btn-danger float-right delete">ｘ</button>
    </li>
    {{/each}}
</ul> --}}

{{!-- =================================== --}}
{{!-- =================================== --}}